---
services:
  app:
    image: portainer/portainer-ce:2.36.0
    container_name: portainer
    pull_policy: always
    # ports:
      # - 30011:9000
      # - 9443:9443
      # - 8010:8000
    networks:
      - traefik-proxy
    volumes:
      - /run/docker.sock:/var/run/docker.sock:ro
      - ${APPDATA_PATH}:/data
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.portainer.rule=Host(`${SUBDOMAIN_NAME}.${DOMAIN_NAME}`) || Host(`${SUBDOMAIN_NAME}.${LOCAL_DOMAIN_NAME}`)
      - traefik.http.routers.portainer.entrypoints=websecure
      - traefik.http.routers.portainer.tls=true
      - traefik.http.routers.portainer.tls.certresolver=cloudflare
      - traefik.http.services.portainer.loadbalancer.server.port=9000
    security_opt:
      - no-new-privileges:true
volumes:
  portainer-data:
    driver: local
networks:
  traefik-proxy:
    external: true