http:
  routers:
    traefik-dashboard:
      rule: "Host(`{{ traefik_subdomain }}.{{ domain_name }}`){% if local_domain_name %} || Host(`{{ traefik_subdomain }}.{{ local_domain_name }}`){% endif %}"
      entryPoints:
        - websecure
      service: api@internal
      middlewares:
        - auth
      tls:
        certResolver: cloudflare
  middlewares:
    auth:
      basicAuth:
        users:
          - "{{ traefik_dashboard_basic_auth_users }}"
