---
services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    pull_policy: always
    command: tunnel run
    networks:
      - traefik-proxy
    environment:
      - TUNNEL_TOKEN={{ cf_tunnel_token }}
    volumes:
      - {{ volume_base_path }}/cloudflared:/etc/cloudflared
networks:
  traefik-proxy:
    external: true
