---
services:
  cloudflared:
    image: cloudflare/cloudflared:2025.8.0
    container_name: cloudflared
    restart: unless-stopped
    pull_policy: always
    command: tunnel run
    networks:
      - traefik-proxy
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    volumes:
      - ${APPDATA_PATH}/cloudflared:/etc/cloudflared
networks:
  traefik-proxy:
    external: true
